APP_ENV=loc
PORT=3001

DB_HOST=localhost
DB_PORT=5432
DB_NAME=myhobbees_loc
DB_USERNAME=myhobbees
DB_PASSWORD=myhobbees
DB_SSLMODE=disable

JWT_SECRET=local-dev-secret-at-least-32-characters

SHOPIFY_STORE_DOMAIN=
SHOPIFY_CLIENT_ID=
SHOPIFY_CLIENT_SECRET=

ADMIN_EMAIL=
ADMIN_PASSWORD_HASH=''
