AWS__TFSTATE_BUCKET=
AWS__TFSTATE_REGION=

TF_STG__AWS_ACCESS_KEY=
TF_STG__AWS_SECRET_KEY=

TF_STG__DB_PASSWORD=
TF_STG__DB_APP_PASSWORD=
TF_STG__JWT_SECRET=

TF_STG__SHOPIFY_STORE_DOMAIN=
TF_STG__SHOPIFY_CLIENT_ID=
TF_STG__SHOPIFY_CLIENT_SECRET=
TF_STG__ADMIN_EMAIL=
TF_STG__ADMIN_PASSWORD_HASH=
